.cards-container{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
        .card{
            width: 25rem;
            height: 100%;
            border: .625rem solid rgb(14, 12, 12);
            border-radius: 1.25rem;
            margin-left: 1.25rem;
            margin-bottom: 1.875rem;
            background-color: rgb(248, 230, 230);
            position: static;
        
        img{
            width: 12.5rem;
            height: 16.875rem;
            padding: .9375rem;
            border-radius: 1.875rem;
            margin-top: 1.25rem;
            margin-left: 5rem;
        }
        h3{
            font-family: $fuente-texto;
            font-size: 1.25rem;
            margin-bottom: .3125rem;
            text-align: center;
        
        }
        .integrantes{
            font-family: $fuente-texto;
            font-size: 1rem;
            text-align: justify;
            margin-bottom: 2.1875rem;
            margin-left: .9375rem;
            margin-right: .9375rem;
            
        }
    }
}